doctype html

html
    head
        title="AgriCounter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href=process.env.AC_PATH + "images/favicon.ico")

        link(href=process.env.AC_PATH + "annotorious/annotorious.min.css" rel="stylesheet")
        //- link(href=process.env.AC_PATH + "external_stylesheets/font-awesome-6.1.2.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet")
        //- link(href=process.env.AC_PATH + "/external_stylesheets/dropzone-6.0.0.css" rel="stylesheet")
        link(href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css")
        link(href=process.env.AC_PATH + 'stylesheets/main.css' rel='stylesheet' id="main-stylesheet")
        link(href=process.env.AC_PATH + 'stylesheets/d3.css' rel='stylesheet')

        script(src=process.env.AC_PATH + "osd/openseadragon.js")
        script(src=process.env.AC_PATH + "annotorious/openseadragon-annotorious.min.js")

        script(src=process.env.AC_PATH + "external_javascripts/jquery-3.6.0.js")
        //- script(src=process.env.AC_PATH + "external_javascripts/dropzone-6.0.0-min.js")
        script(src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js")
        script(src=process.env.AC_PATH + "external_javascripts/d3.v4.js")
        //- script(src=process.env.AC_PATH + "external_javascripts/socket.io-4.5.0-min.js")
        script(src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous")
        script(src=process.env.AC_PATH + 'external_javascripts/annotorious-better-polygon.js')
        script(src=process.env.AC_PATH + 'external_javascripts/voronoi.js')

        script(src=process.env.AC_PATH + 'javascripts/workspace.js')
        script(src=process.env.AC_PATH + 'javascripts/anno_cls_breakdown_chart.js')
        script(src=process.env.AC_PATH + 'javascripts/count_chart.js')
        script(src=process.env.AC_PATH + 'javascripts/score_chart.js')
        script(src=process.env.AC_PATH + 'javascripts/ridgeline_chart.js')
        script(src=process.env.AC_PATH + 'javascripts/map_chart.js')
        script(src=process.env.AC_PATH + 'javascripts/common.js')
        script(src=process.env.AC_PATH + 'javascripts/modal.js')
        script(src=process.env.AC_PATH + 'javascripts/canvas_overlay.js')
        script(src=process.env.AC_PATH + 'javascripts/poly.js')




    body
        div(id="container")

            include ./header.pug

            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")

                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")



            div(style="height: 8px")

            div(class="main_container" style="padding-top: 2px")


                div

                    table
                        tr
                            td(style="padding: 2px 0px")
                                div(style="width: 300px")
                                    table
                                        tr 
                                            td(style="padding: 0px")
                                                button(style="width: 100px; margin: 0px;" id="help_button" class="button-black button-black-hover")
                                                    i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                                    | Help
                                            td(style="padding: 0px; width: 100%")

                            td(style="width: 100%")
                                div(class="image-set-title" id="image_set_name")

                            td(style="padding: 2px 0px")
                                div(style="width: 300px")
                                    table 
                                        tr 
                                            td(style="padding; 0px; width: 100%")
                                            td(style="padding: 0px")
                                                div(id="view_button_container" style="width: 140px;" hidden)
                                                    button(style="width: 140px; margin: 0px;" id="view_button" class="button-black button-black-hover")
                                                        div(id="view_button_text")
                                                            i(class="fa-solid fa-location-dot" style="padding-right: 10px; color: white;")
                                                            |
                                                            | Map View


                    div(id="image_view_container" hidden)
                        table

                            tr
                                td(class="dark-bg" style="vertical-align: top" id="left_panel")

                                    div(style="width: 280px;")

                                        div(id="non_nav_container")

                                            table(id="image_name_table")
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="header2") Image

                                                    td(style="width: 100%; text-align: left; padding-left: 10px")
                                                        h(id="image_name" style="word-break: break-all;")

                                                    td
                                                        div(style="width: 106px;" id="region_name")

                                            
                                            hr

                                            button(id="save_button" class="button-green button-green-hover" style="width: 200px; font-size: 16px")
                                                i(class="fa-solid fa-floppy-disk" style="padding-right: 8px; color: white")
                                                |
                                                | Save All Changes 
                                        
                                            div(id="fake_save_button" hidden)
                                                button(class="button-red" style="width: 200px; font-size: 16px")
                                                    div(class="loader" style="width: 14px; height: 14px; margin: 0px 8px 0px 0px; display: inline-block")
                                                    |
                                                    | Save All Changes

                                            hr


                                            table
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="header2" style="width: 170px") Active Edit Layer
                                                    td(style="width: 100%")
                                                    td
                                                        button(class="button-green button-green-hover" style="padding: 2px; font-size: 14px; width: 40px" onclick="show_customize_overlays_modal()")
                                                            i(class="fa-solid fa-palette") 
                                                    td
                                                        button(class="button-green button-green-hover" style="padding: 2px; font-size: 14px; width: 40px" onclick="customize_hotkeys()")
                                                            i(class="fa-regular fa-keyboard") 

                                            table(style="border: 1px solid white; border-radius: 10px; width: 100%" id="active_layer_table")
                                                tr
                                                    td 
                                                        div(style="height: 9px")
                                                tr 
                                                    td(style="width: 50%")
                                                        
                                                    td
                                                        div(style="width: 225px")
                                                            label(class="custom_radio_container" id="annotation_label") 
                                                                input(type="radio" name="edit_layer_radio" value="annotation" id="annotation_radio_input" checked)
                                                                span(class="custom_radio" style="margin-top: 4px" id="annotation_radio")
                                                            select(id="class_select" style="margin-left: 35px; margin-bottom: 10px" class="nonfixed_dropdown")
                                                            
                                                            label(class="custom_radio_container" id="region_of_interest_label") Region of Interest
                                                                input(type="radio" name="edit_layer_radio" value="region_of_interest")
                                                                span(class="custom_radio" id="region_of_interest_radio")

                                                            label(class="custom_radio_container" id="fine_tuning_region_label") Fine-Tuning Region
                                                                input(type="radio" name="edit_layer_radio" value="fine_tuning_region")
                                                                span(class="custom_radio" id="fine_tuning_region_radio")

                                                            label(class="custom_radio_container" id="test_region_label") Test Region
                                                                input(type="radio" name="edit_layer_radio" value="test_region")
                                                                span(class="custom_radio" id="test_region_radio")

                                                    td(style="width: 50%")


                                            div(style="height: 9px")

                                            table
                                                tr 
                                                    td
                                                        h(class="header2" style="text-align: left") Navigation 
                                                    td(style="width: 100%")
                                                        select(id="navigation_dropdown" class="nonfixed_dropdown" style="display: inline-block; width: 200px")
                                                            option(value="images") Images 


                                        div(id="navigation_table_container" class="scrollable_area" style="height: 15px; width: 280px; border: none; overflow-y: scroll;")
                                            
                                            table(id="navigation_table")


                                        div(id="non_nav_container_2")

                                            div(style="height: 10px")

                                            button(id="prev_image_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 30px 0px 0px 30px") 
                                                i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                | 
                                                | Previous 

                                            button(id="next_image_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 0px 30px 30px 0px; margin-left: -1px") Next 
                                                i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px")  


                                td(style="width: 100%; position: relative; border-left: none; border-right: none" class="viewer" id="seadragon_viewer")


                                td(class="dark-bg" style="vertical-align:top; padding: 0px 0px")

                                    div(id="gridview_panel" hidden)

                                        div(style="padding: 8px 8px")
                                            
                                            div(style="width: 280px;")

                                                button(id="exit_gridview_button" class="button-green button-green-hover" style="font-size: 16px; width: 260px; border-radius: 30px")
                                                    i(class="fa-solid fa-backward" style="padding-right: 5px")
                                                    | 
                                                    | Exit Grid View

                                                div(style="height: 40px")


                                                div(style="border: 1px solid white; border-radius: 10px; padding: 2px")

                                                    table(id="grid_setting_controls")
                                                        tr
                                                            td(style="width: 50%")
                                                            td 
                                                                div(class="table_head" style="width: 180px; padding-right: 10px") Zoom Level:
                                                            td
                                                                div(style="width: 70px")
                                                                    div(id="zoom_level_setting" style="text-align: left; margin-left: 8px")

                                                            td(style="width: 50%")


                                                        tr
                                                            td(style="width: 50%")
                                                            td 
                                                                div(class="table_head" style="width: 180px; padding-right: 10px") Grid Overlap Percent:
                                                            td
                                                                div(style="width: 70px")
                                                                    input(id="grid_overlap_percent_input" class="nonfixed_input" value="0.25")
                                                            td(style="width: 50%")



                                                    div(style="height: 10px")

                                                    button(id="engage_grid" class="button-green button-green-hover" style="font-size: 16px; width: 260px; border-radius: 30px")
                                                        i(class="fa-solid fa-table-cells" style="padding-right: 5px")
                                                        | 
                                                        | Engage Grid

                                                    button(id="disengage_grid" class="button-green button-green-hover" style="font-size: 16px; width: 260px; border-radius: 30px" hidden)
                                                        i(class="fa-solid fa-table-cells" style="padding-right: 5px")
                                                        | 
                                                        | Disengage Grid

                                                div(style="height: 15px")

                                                div(id="engaged_grid_controls" hidden)
                                                    div(id="gridview_info")

                                                    button(id="prev_tile_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 30px 0px 0px 30px") 
                                                        i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                        | 
                                                        | Previous Tile 

                                                    button(id="next_tile_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 0px 30px 30px 0px; margin-left: -1px") Next Tile 
                                                        i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px") 


                                                    table 
                                                        tr 
                                                            td
                                                                div(id="navigator_viewer" class="viewer" style="height: 274px; width: 274px")



                                    div(id="control_panel")
                                
                                        div(style="width: 100%")

                                            div
                                                ul.nav


                                                    li.nav(id="show_annotation_button" class="tab-btn-active" style="width: 99px" onclick="show_annotation()") 
                                                        a.nav
                                                            i(class="fa-solid fa-object-ungroup")

                                                    li.nav(id="show_prediction_button" onclick="show_prediction()" style="width: 98px") 
                                                        a.nav
                                                            i(class="fa-solid fa-chart-column")

                                                    li.nav(id="show_segmentation_button" onclick="show_segmentation()" style="width: 99px") 
                                                        a.nav
                                                            i(class="fa-regular fa-image")


                                        div(style="padding: 8px 8px")
                                            
                                            div(style="width: 280px;")
                                            
                                                div(id="annotation_panel")
                        
                                                    div(style="height: 30px")


                                                    table
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2") Model
                                                            td(style="width: 100%")
                                                            td
                                                                button(class="button-green button-green-hover" id="switch_model_button" style="padding: 2px; font-size: 14px; width: 90px")
                                                                    i(class="fa-solid fa-cube" style="margin-right: 4px") 
                                                                    |
                                                                    | Select 

                                                    
                                                    div(style="height: 30px; border: 1px solid white; border-radius: 10px")
                                                        div(style="height: 5px")
                                                        div(id="model_name" style="font-style: italic")

                                                    div(style="height: 5px")

                                                    div(style="height: 45px; border: 1px solid white; border-radius: 10px")
                                                        div(style="height: 5px")
                                                        div(id="image_set_state")
                                                        div(style="height: 2px")
                                                        div(id="image_set_state_progress" style="font-size: 13px")

                                                    div(style="height: 5px")

                                                    table 
                                                        tr(style="height: 20px")
                                                            td(style="width: 50%")
                                                            td
                                                                div(style="font-size: 13px; text-align: right; width: 15px; color: #ddccbb" id="num_workers")
                                                            td 
                                                                div(style="width: 2px")
                                                            td
                                                                div(style="font-size: 13px; text-align: left; width: 150px" id="num_workers_text") 
                                                            
                                                            td(style="width: 50%")


                                                    hr(style="margin-top: 4px")

                                                    table(style="margin-top: -8px")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 170px") Fine-Tune
                                                            td(style="width: 100%")

                                                    button(class="button-green button-green-hover" id="fine_tune_model_button" style="font-size: 16px; width: 260px") Request Fine-Tuning
                                                    

                                                    hr

                                                    table(style="margin-top: -8px")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 170px") Predict
                                                            td(style="width: 100%")
                                                    
                                                    div
                                                        button(id="predict_single_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 30px 0px 0px 30px")
                                                        button(id="predict_all_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 0px 30px 30px 0px; border-left: none")


                                                    div(style="height: 5px")

                                                    div(id="result_container")
                                                        button(id="request_result_button" class="button-green button-green-hover" style="font-size: 16px; width: 260px") Saved Result

                                                    hr

                                                    table(style="margin-top: -8px")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 110px") Annotations
                                                            td
                                                                div(id="anno_cls_breakdown_container" style="margin-top: 1px")
                                                                    div(id="anno_cls_breakdown_chart" style="width: 110px; height: 10px; display: grid")
                                                            td(style="width: 100%")
                                                                div(id="anno_count" style="margin-top: 3px; font-size: 13px; text-align: right")

                                                    button(id="upload_annotations_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 30px 0px 0px 30px")
                                                        i(class="fa-solid fa-file-arrow-up" style="padding-right: 5px")
                                                        | 
                                                        | Upload
                                                    
                                                    button(id="download_annotations_button" class="button-green button-green-hover" style="font-size: 16px; width: 130px; border-radius: 0px 30px 30px 0px; border-left: none")
                                                        i(class="fa-solid fa-file-arrow-down" style="padding-right: 5px")
                                                        | 
                                                        | Download

                                                    hr

                                                    button(id="gridview_button" class="button-green button-green-hover" style="font-size: 16px; width: 260px; border-radius: 30px")
                                                        i(class="fa-solid fa-table-cells" style="padding-right: 5px")
                                                        | 
                                                        | Grid View


                                                    hr


                                                div(id="prediction_panel" hidden)

                                                    
                                                    div(id="predictions_loading" hidden)
                                                        div(style="height: 50px")
                                                        div(class="loader")



                                                    div(id="predictions_unavailable" hidden)
                                                        div(style="height: 50px")
                                                        div No predictions found!

                                                    div(id="predictions_available" hidden)

                                                        div(style="height: 35px")
                                                        
                                                        button(id="use_predictions_button" class="button-green button-green-hover" style="font-size: 16px; width: 260px") Use Predictions As Annotations

                                                        hr

                                                        div(style="height: 35px")
                                                            table
                                                                td(style="text-align: left")
                                                                    h(class="header2") Class
                                                                td(style="width: 100%")
                                                                    select(id="pred_class_select" class="nonfixed_dropdown")


                                                        hr

                                                        div(id="count_area")

                                                            div(style="height: 40px")
                                                                table
                                                                    td(style="text-align: left")
                                                                        h(class="header2") Metric
                                                                    td(style="width: 100%")
                                                                        select(id="chart_combo" class="nonfixed_dropdown")
                                                                            
                                                            div(id="count_chart" style="height: 90px; width: 270px; border: none")

                                                            hr
                                                        
                                                        h(class="header2" style="text-align: left") Overlays

                                                        table(id="overlays_table" style="margin-top: -22px;")

                                                        hr

                                                        div(id="score_area")

                                                            table
                                                                td(style="text-align: left")
                                                                    h(class="header2" style="width: 170px; margin: 0px") Score Distribution
                                                                td(style="width: 100%")
                                                                td
                                                                    button(class="button-green button-green-hover" onclick="show_ridgeline_modal()" style="padding: 2px; font-size: 14px; width: 40px")
                                                                        i(class="fa-regular fa-rectangle-list")

                                                            h(class="header2" style="text-align: left; font-size: 14px; margin-top: 2px; margin-left: 1px") Quality Score: 
                                                                span(id="quality_score" style="color: white; text-align: left")
                                                            div(id="score_chart" style="height: 175px; width: 275px; border: none")
                                                            hr

                                                        table
                                                            tr
                                                                td
                                                                    div(style="width: 147px; text-align:left; margin: 2px 0px;" class="header2") Show Image
                                                                td
                                                                    label(class="switch")
                                                                        input(id="image_visible_switch" type="checkbox" checked)
                                                                        span(class="switch_slider round")
                                                                td(style="width: 100%")       
                                                            tr
                                                                td
                                                                    div(style="width: 147px; text-align:left; margin: 2px 0px;" class="header2") Show Scores
                                                                td
                                                                    label(class="switch")
                                                                        input(id="scores_switch" type="checkbox")
                                                                        span(class="switch_slider round")
                                                                td(style="width: 100%")

                                                        table
                                                            tr
                                                                td
                                                                    div(style="width: 50px; text-align:left" class="header2") Filter

                                                                td
                                                                    button(id="score_down" class="button-black button-black-hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                        i(class="fa-solid fa-circle-chevron-left")
                                                                        
                                                                td(style="width: 100%")
                                                                    div(class="slidecontainer" style="width: 100%")
                                                                        input(type="range" min="0.25" max="0.99" step="0.01" value="0.5" class="slider" id="confidence_slider" style="margin: 0px")

                                                                td
                                                                    button(id="score_up" class="button-black button-black-hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                        i(class="fa-solid fa-circle-chevron-right")
                                                                
                                                                td
                                                                    div(id="confidence_slider_val" style="margin-left: 2px; padding: 4px 2px; margin-top: -4px; border-radius: 5px; border: 1px solid white; width: 55px") > 0.50

                                                        hr(style="margin-top: 2px")
                                            
                                                div(id="segmentation_panel" hidden)

                                                    div(style="height: 40px")

                                                    table
                                                        tr
                                                            td(style="width: 90px")
                                                                div(style="width: 210px; text-align:left" class="header2") Excess Green Threshold:
                                                            td(style="width: 50px")
                                                                div(id="threshold_slider_val_container" style="text-align: right; width: 50px")
                                                                    div(id="threshold_slider_val" class="header2")
                                                    table
                                                        tr
                                                            td
                                                                button(id="threshold_score_down" class="button-black button-black-hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                    i(class="fa-solid fa-circle-chevron-left")

                                                            td(style="width: 100%")
                                                                div(id="threshold_slider_container" class="slidecontainer" style="width: 100%")
                                                                    input(type="range" min="-2" max="2" step="0.01" value="0.0" class="slider" id="threshold_slider" style="margin: 0px")
                                                            
                                                            td
                                                                button(id="threshold_score_up" class="button-black button-black-hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                    i(class="fa-solid fa-circle-chevron-right")

                                                    div(style="height: 10px")

                                                    table
                                                        tr 
                                                            td(style="width: 50px")
                                                            td
                                                                button(class="button-green button-green-hover" id="segment_button" style="width: 180px; height: 50px; border-radius: 40px; padding: 4px; font-size: 16px") Segment   
                                                            td(style="width: 50px")

                                                                div(class="check-loader" id="segmentation_loader" hidden)
                                                                    div(class="loader-checkmark draw" id="segmentation_checkmark")


                                                    div(style="height: 30px")



                                                    table
                                                        tr 
                                                            td
                                                                div(style="width: 160px; text-align:left" class="header2") Panning Enabled?
                                                            td(style="width: 100%")
                                                                div(id="panning_enabled_status" style="text-align: left")
                                                            td
                                                                button(class="button-green button-green-hover" style="width: 70px; padding: 2px; font-size: 14px" id="enable_pan_button") Enable

                                                    div(style="height: 10px")
                                                    button(id="apply_threshold_to_all_button" class="button-green button-green-hover" style="font-size: 14px; padding: 4px; width: 280px") Apply Current Threshold To All Images

                                                    div(style="height: 5px")
                                                    hr


                    div(id="map_view_container" hidden)
                        table

                            tr
                                td(class="dark-bg" style="vertical-align:top;") 
                                    // height: 720px")
                                    div(style="width: 280px;")

                                        div(id="map_builder_controls_container")

                                            div(style="font-size: 20px") Map Builder Controls 
                                            br

                                            div(class="header2" style="text-align: left; padding-left: 10px") Class 
                                            select(id="map_builder_class_select" class="nonfixed_dropdown")

                                            br
                                            br

                                            div(class="header2" style="text-align: left; padding-left: 10px") Interpolation 
                                            table(style="border: 1px solid white; width: 260px; padding-top: 15px; padding-left: 25px")
                                                tr 
                                                    td
                                                        label(class="custom_radio_container") Linear 
                                                            input(type="radio" name="interpolation" value="linear" checked)
                                                            span(class="custom_radio")
                                                    td 
                                                        label(class="custom_radio_container") Nearest 
                                                            input(type="radio" name="interpolation" value="nearest")
                                                            span(class="custom_radio")      

                                            br
                                            div(id="map_tile_size_controls")
                                                table
                                                    tr
                                                        td
                                                            div(style="width: 80px; text-align:left; padding-left: 10px" class="header2") Tile Size
                                                        td(style="width: 100%")
                                                table
                                                    tr
                                                        td
                                                            div(style="width: 10px")
                                                        td
                                                            button(id="tile_size_down" class="button-black button-black-hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                i(class="fa-solid fa-circle-chevron-left")
                                                                
                                                        td(style="width: 100%")
                                                            div(class="slidecontainer" style="width: 100%")
                                                                input(type="range" class="slider" id="tile_size_slider" step="0.25" style="margin: 0px")

                                                        td
                                                            button(id="tile_size_up" class="button-black button-black-hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                i(class="fa-solid fa-circle-chevron-right")
                                                        
                                                        td
                                                            div(id="tile_size_slider_val" style="padding: 4px 2px; margin-top: -4px; border-radius: 5px; border: 1px solid white; width: 65px; margin-left: 4px;") 
                                                        td
                                                            div(style="width: 10px")


                                            br
                                            hr
                                            br
                                            button(style="width: 140px; margin: 0px" id="build_map_button" class="button-black button-black-hover" onclick="build_map()")
                                                i(class="fa-solid fa-gears" style="padding-right: 10px; color: white")
                                                |
                                                | Build Map 
                                            br
                                            br
                                            div(id="build_loader" class="loader" hidden)
                                        
                                        //- div(id="insufficient_annotation_container" hidden)
                                        //-     div(style="text-align: justify; text-justify: inter-word") To build a density map, first generate predictions for all of the images.


                                td(style="width: 100%; border-left: none" id="chart_container")





    script.
        let ac_path = !{JSON.stringify(ac_path)};
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};